
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<div class="container">

  <h3 >  Sign up for Yahoo Mail</h3>
  <h5> Create a Yahoo email address  </h5>
 
<form  [formGroup]="userFormGroup" >
  <div class="form-group">
    <div  class="input-group">
      
        
     
      <input type="text" placeholder="First name" class="form-control"  formControlName="firstName" [ngStyle]="err_firstName" />
      <div *ngIf="userFormGroup.controls.firstName.invalid&&(userFormGroup.controls.firstName.touched||userFormGroup.controls.firstName.dirty)">
        <span >Enter Name</span>
      </div>
      <input type="text" placeholder="Last name" class="form-control" formControlName="lastName" [ngStyle]="err_lastName"/>
    </div>
  </div>
  
    <div class="input-group" >
      <input type="text" placeholder="Email address" class="form-control" formControlName="email" [ngStyle]="err_email">
      <p class="text-secondary"  class="form-control"  >@yahoo.com</p>
    
    </div>
  
  
  <a href="" >I want to use my current email address</a>
  <div class="form-group">
    <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngStyle]="err_password"/>
  </div>
  <div class="form-group">
    <div class="input-group" >
      <select >
        <option>+91</option>
        <option>+1</option>
        <option>+44</option>
      </select>
   
      <input type="text" placeholder="Mobile phone number" class="form-control" formControlName="mobileNo" [ngStyle]="err_mobileNo"/>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <select class="form-control" formControlName="month" [ngStyle]="err_month" >
        
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
      <input type="text" placeholder="Day" class="form-control" formControlName="day" [ngStyle]="err_day"/>
      <input type="text" placeholder="Year" class="form-control"formControlName="year" [ngStyle]="err_year"/>

    </div>
    
  </div>  
  <div class="form-group">
      <input type="text" placeholder="Gender" class="form-control" formControlName="gender" [ngStyle]="err_gender"/>
  </div>
  <div [formGroup]="userFormGroup.controls.address">
   
          <input type="text" placeholder="Address" class="form-control"  />

       
          <input type="text" placeholder="Street/house-No" class="form-control" formControlName="street"/>
          <input type="text" placeholder="Area" class="form-control" formControlName="area"/>
          <input type="text" placeholder="City" class="form-control" formControlName="city"/>

       
    
  
   
  </div>
  <div class="form-group">
    
    <button type="button" class="btn btn-outline-primary" (click)="dataPass()">Create</button>
    <button type="reset" class="btn btn-outline-primary" (click)="dataPass()">Reset</button>

   
  </div>
 
  <div class="form-group">
    <button type="button" class="btn btn-primary" (click) ="addArray()">Create Hobbies
    </button>
  </div>
  <div formArrayName="hobbies" *ngFor="let hobbie of userFormGroup.controls.hobbies?.value;let i=index" class="form-group">
    <div [formGroupName]="i">
        <input type="text" placeholder="HobbieName"  formControlName="hobbyName"/>
    </div>
  </div>
  
 
</form>  
</div>

